/*--------------------------------------------------------------
  Learn more about Sass mixins here: @link {http://sass-lang.com/guide#topic-6}
 --------------------------------------------------------------*/
// Breakpoints (Example: @include breakpoint(tablet) { YOUR CODE GOES HERE } )
@mixin breakpoint($point) {
    // Extra small devices (320px +)
    @if $point == xs {
         @media only screen and (min-width : 320px){
            @content;
        }
    }
    // Small devices (480px +)
    @else if $point == sm {
         @media only screen and (min-width : 480px){
            @content;
        }
    }
    // Tablets (768px +)
    @else if $point == tb {
         @media only screen and (min-width : 768px){
            @content;
        }
    }
    // Medium Devices, Notebooks (992px +)
    @else if $point == md {
         @media only screen and (min-width : 992px){
            @content;
        }
    }
    // Large Devices, Wide Screens
    @else if $point == desktop {
         @media only screen and (min-width : 1200px){
            @content;
        }
    }
}
// Custom media query range
@mixin mq ($min, $max) {
  @media only screen and (min-width: $min+'px') and (max-width: $max+'px') {
    @content;
  }
}
// Clearfix
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
// Center vertically
@mixin centerY {
    position: relative;
    top: 50%;
    transform: (translateY(-50%));
}
// Center both vertically and horizontally
@mixin centerXY {
    position: relative;
    top: 50%;
    left: 50%;
    transform: (translateY(-50%) translateX(-50%));
}

@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}
