$base-color: #1a2c4a;
$secondary-color: #e4060e;
$content-max-width: 1200px;
$title-font-family: "Open sans", sans-serif;
$subtitle-font-family: "Cormorant", sans-serif;
$text-font-family: "Palanquin", sans-serif;
